node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*
*.log
.env
*.tsbuildinfo
dist/
build/
coverage/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
._*
.Spotlight-V100
.Trashes
ehthumbs.db 